<div class="map">
  <svg id="map" t="1530172011854" class="svg" style="background-color: wheat" viewbox="0 0 1200 900" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" width="1200" height="900">
    <ng-template #svg></ng-template>
  </svg>
  <div class="alert-bar">{{alertBarText}}</div>


<div *ngIf="!editMode" class="map-controller-bar">
  <button mat-raised-button color="warn" (click)="editMap()">编辑地图</button>
  <button mat-raised-button color="primary" (click)="chooseMap()">选择地图</button>
  <button mat-raised-button color="primary">another</button>
</div>

<ng-template map-editor></ng-template>

</div>



<!-- *************** -->




